.wrap {
  display: flex;
  align-items: center;

  gap: 10px;
}

.btn {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid gray;
}

.btn:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.btn:active {
  background-color: cornflowerblue;
}
